/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
.shop-phone {
  float: right;
  padding: 14px 0;
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-weight: bold;
}
@media (max-width: 767px) {
  .shop-phone {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 479px) {
  .shop-phone {
    border: 1px solid #3c3c3c;
    border-bottom: none;
    width: 100%;
    float: none;
    text-align: center;
    clear: both;
    display: block;
  }
}
.shop-phone i {
  font-size: 25px;
  line-height: 25px;
  color: #e61638;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .shop-phone i {
    font-size: 20px;
    line-height: 24px;
  }
}
.shop-phone strong {
  color: white;
}

#contact-link {
  display: none;
  float: right;
  border-left: 1px solid #515151;
}
@media (max-width: 479px) {
  #contact-link {
    width: 25%;
    text-align: center;
  }
}
#contact-link a {
  display: block;
  color: white;
  font-weight: bold;
  padding: 8px 10px 11px 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media (max-width: 479px) {
  #contact-link a {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
#contact-link a:hover, #contact-link a.active {
  background: #2b2b2b;
}

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px;
  }
}
#contact_block .label {
  display: none;
}
#contact_block .block_content {
  color: #888888;
}
#contact_block p {
  margin-bottom: 4px;
}
#contact_block p.tel {
  font: 400 17px/21px "Roboto", sans-serif;
  color: #333333;
  margin-bottom: 6px;
}
#contact_block p.tel i {
  font-size: 25px;
  vertical-align: -2px;
  padding-right: 10px;
}
