/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
.header_user_info {
  float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151;
}
.header_user_info a {
  color: white;
  font-weight: bold;
  display: block;
  padding: 8px 9px 11px 8px;
  cursor: pointer;
}
@media (max-width: 479px) {
  .header_user_info a {
    font-size: 11px;
  }
}
.header_user_info a:hover, .header_user_info a.active {
  background: #2b2b2b;
}
.header_user_info + .header_user_info {
  border-right: none;
}

.user_info {
  float: right;
  padding: 36px 15px 0;
}
@media (max-width: 992px) {
  .user_info {
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .user_info {
    float: left;
  }
}
@media (max-width: 479px) {
  .user_info {
    float: none;
    width: 100%;
    overflow: hidden;
  }
}
.user_info li {
  display: block;
  float: right;
  padding-left: 27px;
}
@media (max-width: 992px) {
  .user_info li {
    clear: both;
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .user_info li {
    float: left;
    padding-bottom: 5px;
  }
}
@media (max-width: 479px) {
  .user_info li {
    float: right;
    clear: none;
    padding-bottom: 0px;
  }
  .user_info li:first-child {
    float: left;
  }
}
.user_info li a {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
.user_info li a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 21px;
  line-height: 21px;
  color: #e61638;
  padding-right: 11px;
  vertical-align: -1px;
}
.user_info li a.login:before, .user_info li a.logout:before {
  display: none;
}
.user_info li a:hover {
  color: #777;
}
