@import "compass";
@import "theme_variables";
#categories_block_top {
	clear: both;
	position: relative;
	top: 30px;
	.sf-menu {
    	position: relative;
    	> li {
      		position: static;
      		> ul {
        		width: 100%;
        		top: 60px;
        		margin: 0 20px;
        		> li {
          			display: block;
          			float: left;
          			width: 20%;
          			-webkit-box-sizing: border-box;
          			-moz-box-sizing: border-box;
          			box-sizing: border-box;
          			padding: 0 10px;
        		}
        		> .category_thumb {
          			display: block;
          			clear: both;
          			overflow: hidden;
          			width: 100%;
          			img {
            			display: inline-block;
            			width: 33%;
          			}
        		}
      		}
      		h4 {
        		a {
          			font-size: 1.1em;
          			&:before {
            			display: none;
          			}
        		}
      		}
      		.main-level-submenus {
        		position: relative;
        		display: block !important;
        		visibility: visible !important;
        		top: 0;
        		background: none;
        		box-shadow: none;
        		padding: 0;
        		left: 0;
      		}
    	}
    	.category_thumb {
      		display: none;
    	}
  	}
}

#categories_block_left {
	@media (max-width: $screen-xs-max) { // max 767px
		display: none;
	}
	.title_block {
		margin-bottom:0;	
	}
	.block_content > ul {
  	}
  	li {
    	position: relative;
		padding-top:1px;
		&:hover {
			> span.grower {
				&.CLOSE:before {
					color:#fff;
				}
			}	
		}
    	a {
      		font-weight: 900;
      		color: #1a1a1a;
      		display: block;
      		font-size: 18px;
      		line-height: 22px;
			text-transform:uppercase;
			background:#ebebeb;
			padding: 14px 35px 16px 20px;
			@include transition(all 50ms cubic-bezier(0.47, 0, 0.745, 0.715));
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				font-size: 15px;
      			line-height: 19px;
				padding:12px 30px 13px 15px;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				font-size: 13px;
      			line-height: 17px;
				padding:10px 25px 11px 10px;
			}
    	}
    	span.grower {
      		display: block;
      		position: absolute;
      		right: 16px;
      		top: 17px;
      		cursor: pointer;
      		font-family: $font-icon;
      		font-size: 24px;
      		&.OPEN,
      		&.CLOSE {
        		&:before {
          			content: "";
          			color: #fff;
        		}
      		}
      		&.CLOSE:before {
        		content: "";
        		color: #c4c4c4;
      		}
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				font-size: 20px;
      			right: 14px;
      			top: 14px;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				font-size: 15px;
      			right: 12px;
      			top: 11px;
			}
    	}
    	& span.OPEN + a,
		& span.grower:hover + a,
    	a:hover,
    	a.selected {
      		background: #e61638;
			color:#fff;
    	}
  	}
	div > ul > li {
		> ul {
			background:#dbdbdb;
			border-top:1px solid #fff;
			padding:26px 20px 28px 34px;
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				padding:16px 20px 18px 15px;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				padding:10px 20px 12px 10px;
			}
		}
		ul {
			li {
				background:none;
				padding:4px 0;
				a {
					font-weight:bold;
					font-size:13px;
					line-height:18px;
					text-transform:none;
					background:none;
					padding:0;
					font-weight: normal;
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
						font-size:12px;
						line-height:16px;
					}
					&:before {
						content: "";
						font-family: $font-icon;
						line-height: 13px;
						padding-right: 6px;
						color:#e61638;
						vertical-align:-1px;
					}
					&:hover {
						color:#e61638;
						background:none;	
					}
				}
				span.grower {
					display: block;
					position: absolute;
					right: -10px;
					top: 5px;
					cursor: pointer;
					font-family: $font-icon;
					font-size: 14px;
					&.OPEN,
					&.CLOSE {
						&:before {
							content: "";
							color: #000;
						}
					}
					&.CLOSE:before {
						content: "";
						color: #e61638;
					}
				}
				& span.OPEN + a,
				& span.grower:hover + a,
				a:hover,
				a.selected {
					background: none;
					color:#e61638;
				}
				&:hover {
					> span.grower {
						&.CLOSE:before {
							color:#e61638;
						}
					}	
				}
				li {
					padding-left:15px;
					li {
						padding-left:10px;	
					}
				}
			}
		}
	}
}