/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#search_block_top {
  padding-top: 76px;
  padding-left: 10px;
}
@media (max-width: 767px) {
  #search_block_top {
    padding-top: 30px;
  }
}
#search_block_top #searchbox {
  float: left;
  width: 100%;
}
#search_block_top .btn.button-search {
  background: #303030;
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid #3c3c3c;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 105px;
  height: 51px;
  text-align: center;
  padding: 0px 5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #search_block_top .btn.button-search {
    width: 50px;
  }
  #search_block_top .btn.button-search span {
    display: none;
  }
  #search_block_top .btn.button-search:before {
    content: "\f002";
    display: block;
    font-family: "FontAwesome";
    font-size: 21px;
    width: 100%;
    text-align: center;
  }
}
#search_block_top .btn.button-search:hover {
  color: #6f6f6f;
}
#search_block_top #search_query_top {
  display: inline-block;
  padding: 14px 65px 14px 13px;
  height: 51px;
  color: #fff;
  border-color: #3c3c3c;
  background: #262626;
}

.ac_results {
  background: white;
  border: 1px solid #d9d9d9;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #AAB9FE;
}

form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #333333;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}
