@import "compass";
@import "theme_variables";

.shop-phone {
	float: right;
	padding: 14px 0;
	font-size:20px;
	line-height:25px;
	color: $light-text-color;
	font-weight:bold;
	@media (max-width: $screen-xs-max) { // max 767px
		font-size: 16px;
		line-height:24px;
	}
	@media (max-width: $screen-xs - 1) {
		border: 1px solid #3c3c3c;
		border-bottom:none;
		width:100%;
		float: none;
		text-align:center;
		clear:both;
		display:block;
	}
	i {
		font-size: 25px;
		line-height: 25px;
		color: #e61638;
		padding-right: 10px;
		@media (max-width: $screen-xs-max) { // max 767px
			font-size: 20px;
			line-height:24px;
		}
	}
	strong {
		color: $light-text-color;
	}
}

#contact-link {
	display:none;
	float: right;
	border-left: 1px solid #515151;
	@media (max-width: $screen-xs - 1) {
		width: 25%;
		text-align: center;
	}													
	a {
		display: block;
		color: $light-text-color;
		font-weight: bold;
		padding: 8px 10px 11px 10px;
		text-shadow: 1px 1px rgba(0,0,0,0.2);
		cursor: pointer;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
			padding-left: 5px;
			padding-right: 5px;
		}
		&:hover, &.active {
			background: #2b2b2b;
		}
	}
}

#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px; 
			padding-right: 10px;
		}
	}
}
