/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/* Top hook CSS */
#htmlcontent_top ul {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #htmlcontent_top ul {
    margin: 0 -5px 20px;
  }
}
#htmlcontent_top ul li {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #htmlcontent_top ul li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  #htmlcontent_top ul li {
    width: 50%;
  }
}
#htmlcontent_top ul li > div {
  position: relative;
  overflow: hidden;
  /*background: #000;*/
}
#htmlcontent_top ul li > div .item-html {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  padding: 16px 19px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0.2s linear;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #htmlcontent_top ul li > div .item-html {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  #htmlcontent_top ul li > div .item-html {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 479px) {
  #htmlcontent_top ul li > div .item-html {
    padding: 16px 10px;
  }
}
#htmlcontent_top ul li > div .item-html h2 {
  font-size: 31px;
  line-height: 31px;
  font-weight: 900;
  margin: 0 0 1px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #htmlcontent_top ul li > div .item-html h2 {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 991px) {
  #htmlcontent_top ul li > div .item-html h2 {
    font-size: 15px;
    line-height: 15px;
  }
}
#htmlcontent_top ul li > div a.item-link:hover img {
  transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  opacity: 2;
}
#htmlcontent_top ul li > div a.item-link:hover .item-html {
  color: #e61638;
}
#htmlcontent_top ul li > div img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0.3s linear;
}
