body {
  background: #3d3d3d;
}

.columns-container {
  background: #fff;
}

#index .columns-container {
  background-image: url(../../../../img/content-bg-7-teme.png);
  background-color: #fff;
}

header {
  background: #ea735a;
}
header .user_info a:before {
  color: #000;
}
header .user_info a:hover, header .user_info a.active {
  color: #000;
}
header .nav {
  background: #fff;
}

.shop-phone {
  color: #a0a0a0;
}
.shop-phone i {
  color: #353535;
}

#languages-block-top div.current {
  color: #a0a0a0;
  text-shadow: none;
}
#languages-block-top div.current span {
  color: #353535;
}

#currencies-block-top div.current {
  color: #a0a0a0;
  text-shadow: none;
}
#currencies-block-top div.current strong {
  color: #353535;
}

#languages-block-top, #currencies-block-top {
  border-color: #e6e6e6;
}
#languages-block-top div.current:hover, #languages-block-top div.current.active, #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
  background: #f8f8f8;
}
#languages-block-top div.current:after, #currencies-block-top div.current:after {
  color: #353535;
}
#languages-block-top ul, #currencies-block-top ul {
  background: #000;
}
#languages-block-top ul li.selected, #languages-block-top ul li.selected span, #languages-block-top ul li:hover a, #languages-block-top ul li.selected a, #currencies-block-top ul li.selected, #currencies-block-top ul li.selected span, #currencies-block-top ul li:hover a, #currencies-block-top ul li.selected a {
  background: #333;
  color: #a0a0a0;
}

#header .cartBox .shopping_cart > a:first-child {
  background: #b35744;
}
#header .cartBox .shopping_cart > a:first-child:before {
  background: #313131;
}
#header .cartBox .shopping_cart:hover > a:first-child:after {
  color: #ea735a;
}

#search_block_top #search_query_top {
  background: #FFF;
  border-color: #FFF;
  color: #000;
}
#search_block_top .btn.button-search {
  background-color: #313131;
  border-color: #313131;
}
#search_block_top .btn.button-search:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

#htmlcontent_top ul li > div a.item-link:hover .item-html {
  color: #ea735a;
}

#homepage-slider .bx-wrapper .bx-controls-direction a:hover:after {
  color: #ea735a;
}

.block .title_block,
.block h4 {
  background-color: #474747;
}

#categories_block_left li a {
  background: #ebebeb;
}
#categories_block_left li span.OPEN + a, #categories_block_left li span.grower:hover + a,
#categories_block_left li a:hover,
#categories_block_left li a.selected {
  background: #a3a3a3;
}
#categories_block_left div > ul > li > ul {
  background: #dcdcdc;
}
#categories_block_left div > ul > li ul li a:before {
  color: #ea735a;
}
#categories_block_left div > ul > li ul li a:hover {
  color: #ea735a;
}
#categories_block_left div > ul > li ul li span.grower.CLOSE:before {
  color: #ea735a;
}
#categories_block_left div > ul > li ul li span.OPEN + a, #categories_block_left div > ul > li ul li span.grower:hover + a,
#categories_block_left div > ul > li ul li a:hover,
#categories_block_left div > ul > li ul li a.selected {
  color: #ea735a;
}
#categories_block_left div > ul > li ul li:hover > span.grower.CLOSE:before {
  color: #ea735a;
}

.button.ajax_add_to_cart_button span {
  background: #ea735a;
}
.button.ajax_add_to_cart_button:hover, .button.ajax_add_to_cart_button:focus {
  background: #ea735a;
}

.button.lnk_view:hover {
  color: #ea735a;
}
.button.lnk_view:after {
  color: #ea735a;
}

.button.button-small:hover {
  background: #ea735a;
}

.products-block .button.button-small:hover {
  color: #ea735a;
}
.products-block .button.button-small:after {
  color: #ea735a;
}

table#product_comparison .remove a:hover {
  color: #ea735a;
}

#cart_summary tfoot td#total_price_container {
  color: #ea735a;
}

.footer-container #footer ul li a {
  color: #d2d5d8;
}
.footer-container #footer ul li a:hover {
  color: #ea735a;
}

.footer-container {
  background-color: #5a5a5a;
}
.footer-container #footer {
  color: #d2d5d8;
}
.footer-container #footer a:hover {
  color: #a0a0a0;
}
.footer-container #footer h4 a:hover {
  color: #ea735a;
}
.footer-container #footer #block_contact_infos > div ul li {
  color: #d2d5d8;
}
.footer-container #footer #block_contact_infos > div ul li.phoneBox {
  color: #ea735a;
}
.footer-container #footer #block_contact_infos > div ul li.emailBox a {
  color: #ea735a;
}
.footer-container #footer #social_block ul li a:hover {
  color: #ea735a;
}
.footer-container #footer #social_block ul li a:before {
  color: #ea735a;
}
.footer-container #footer .bottom-footer div a {
  color: #fff;
}
.footer-container #footer .bottom-footer div a:hover {
  color: #ea735a;
}

.cart_block .cart-buttons a#button_order_cart {
  background: #474747;
}
.cart_block .cart-buttons a#button_order_cart:hover {
  background: #ea735a;
}

#layer_cart .layer_cart_product h2 {
  color: #ea735a;
}
#layer_cart .layer_cart_product .cross:hover {
  color: #ea735a;
}

.fancybox-skin .fancybox-close:hover {
  color: #ea735a;
}

#home-page-tabs {
  background-color: #474747;
}

.content_scene_cat span.category-name {
  color: #ea735a;
}

#subcategories ul li .subcategory-name:hover {
  color: #ea735a;
}

.sale-label {
  background: #ea735a;
}

ul.product_list .availability span.available-now {
  background: #474747;
  border-color: #373737;
}
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
  color: #ea735a;
}

.block .list-block li a:hover, #sitemap .sitemap_block li a:hover {
  color: #ea735a;
}

.price, .price.product-price, .special-price {
  color: #ea735a;
}

.price-percent-reduction {
  background: #474747;
  border-color: #373737;
}

.our_price_display {
  color: #ea735a;
}

.pb-center-column p.online_only {
  color: #ea735a;
}

#reduction_percent, #reduction_amount {
  background: #474747;
  border-color: #373737;
}

.label-success {
  background: #474747;
  border-color: #373737;
}

.cart_navigation .button-exclusive:hover, .cart_navigation .button-exclusive:focus, .cart_navigation .button-exclusive:active {
  color: #ea735a;
}

#cmsinfo_block, #facebook_block {
  background: #9b9b9b;
  border-color: #b2b2b2;
}

#cmsinfo_block em {
  background: #ea735a;
}
#cmsinfo_block a {
  color: #fff;
}
#cmsinfo_block a:hover {
  color: #333;
}
#cmsinfo_block > div {
  color: #d8d8d8;
}
#cmsinfo_block > div + div {
  border-color: #b2b2b2;
}

a:hover, a:focus {
  color: #ea735a;
}
