@import "compass";
@import "theme_variables";

/* Top hook CSS */
#htmlcontent_top {
	ul {
		margin-bottom:0;
		@media (max-width: $screen-xs-max) { // max 767px
			margin:0 -5px 20px;
		}
		li {
			margin-bottom:30px;
			@media (max-width: $screen-xs-max) { // max 767px
				padding:0 5px;
				margin-bottom:10px;
			}
			@media (max-width: $screen-xs - 1) { // max 479px
				width:50%;
			}
			> div {
				position:relative;
				overflow:hidden;
				background:#000;
				.item-html {
					position:absolute;
					left:0px;
					bottom:0px;
					font-size:36px;
					line-height:36px;
					font-weight:900;
					padding:16px 19px;
					color:#fff;
					text-transform:uppercase;
					text-shadow: 1px 1px rgba(0, 0, 0, 0.22);
					@include transition(all 0.2s linear);
					@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
						font-size:28px;
						line-height:28px;
					}
					@media (max-width: $screen-sm-max) { // max 991px
						font-size:18px;
						line-height:18px;
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						padding:16px 10px;
					}
					h2 {
						font-size:31px;
						line-height:31px;
						font-weight:900;
						margin:0 0 1px;
						@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
							font-size:21px;
							line-height:21px;
						}
						@media (max-width: $screen-sm-max) { // max 991px
							font-size:15px;
							line-height:15px;
						}
					}
				}
				a.item-link {
					&:hover {
						img {
							transform: scale(1.1,1.1); 
							-o-transform: scale(1.1,1.1);
							-moz-transform: scale(1.1,1.1);
							-webkit-transform: scale(1.1,1.1);
							opacity:0.5;
						}
						.item-html {
							color:#e61638;	
						}
					}
				}
				img {
					max-width: 100%;
					height: auto;
					@include transition(all 0.3s linear);
				}
			}
		}
	}
}