@import 'compass';
@import 'bootstrap_lib/_variables';
$color_theme:						#ecca33;
$color_dark:						#51575e;
$color_neutral:						#83888f;
$background_theme:					#ecca33;
$background_dark_theme:				#b99e28;
$border_color_theme:				#d4b52e;
$border_color_dark:					#9d8621;
$border_top_color:					#cccdcf;
$bagraund_category:					#dcbc2f;

body {
	background:#35393c;
}
.columns-container {
	background:#e8e9ea;
}
#index .columns-container {
	background-image:url(../../../../img/content-bg-3-teme.png);
	background-color:#e8e9ea;
}
header {
	background:#4f555b;
	.user_info a {
		&:before {
			color:$color_theme;	
		}
		&:hover, &.active {
			color:$color_theme;
		}
	}
	.nav {
		background:#ebebeb;
	}
}
.shop-phone {
	color:$color_dark;	
	i {
		color:$color_theme;	
	}
}
#languages-block-top {
	div.current {
		color:$color_dark;	
		text-shadow:none;
		span{
			color:$color_neutral;
		}
	}
}
#currencies-block-top {
	div.current {
		color:$color_dark;
		text-shadow:none;
		strong {
			color:$color_neutral;
		}
	}
}
#languages-block-top, #currencies-block-top {
	border-color:$border_top_color;
	div.current {
		&:hover, &.active {
			background:#dddddd;	
		}
		&:after {
			color:$color_neutral;
		}
	}
	ul {
		background:#3e4348;
		li.selected, li.selected span, li:hover a, li.selected a { background:$background_theme; color:$color_dark;}
	}
}
#header .cartBox .shopping_cart { 
	> a:first-child {
		background:#6e7378;
		&:before {
			background:$background_theme;	
		}
	}
	&:hover {
		> a:first-child {
			&:after {
				color:$color_theme;
			}	
		}
	}
}
#search_block_top {
	#search_query_top {
		background:#FFF;
    	border-color:#FFF;
		color:#000;	
	}
	.btn.button-search {
		background-color:$background_theme;
		border-color:$background_theme;
		&:hover {
			background-color:#333;
			border-color:#333;
			color:#fff;
		}
	}
}
#htmlcontent_top ul li > div {
	a.item-link:hover .item-html {
		color:$color_theme;	
	}
}
#homepage-slider .bx-wrapper .bx-controls-direction a:hover:after {
	color:$color_theme;	
}
.block {
	.title_block,
	h4 {
		background: #6e7378;
	}
}
#categories_block_left {
	.title_block,
	h4 {
		background-color:$background_theme;
	}
	li {
		a {
			background:#d8dadb;	
		}
		& span.OPEN + a,
		& span.grower:hover + a,
    	a:hover,
    	a.selected {
      		background: $bagraund_category;
    	}	
	}
	div > ul > li {
		> ul {
			background:#babcbf;
		}
		ul {
			li {
				a {
					&:before {
						color:$color_theme;
					}
					&:hover {
						color:$color_theme;
					}
				}
				span.grower {
					&.CLOSE:before {
						color:$color_theme;
					}
				}
				& span.OPEN + a,
				& span.grower:hover + a,
				a:hover,
				a.selected {
					color:$color_theme;
				}
				&:hover {
					> span.grower {
						&.CLOSE:before {
							color:$color_theme;
						}
					}	
				}
			}
		}
	}
}
.button.ajax_add_to_cart_button {
	span {
		background:$background_theme;	
	}
	&:hover, &:focus {
		background:$background_theme;
	}
}
.button.lnk_view {
	&:hover {
		color:$color_theme;	
	}
	&:after {
		color:$color_theme;	
	}
}
.button.button-small {
	&:hover {
		background:$background_theme;
	}
}
.products-block .button.button-small {
	&:hover {
		color:$color_theme;	
	}
	&:after {
		color:$color_theme;	
	}
}
table#product_comparison .remove a {
	&:hover {
		color:$color_theme;
	}
}
#cart_summary tfoot td#total_price_container {
	color:$color_theme;
}
.footer-container {
	#footer {
		ul {
			li {
				a {
					color:#d2d5d8;
					&:hover {
						color:$color_theme;
					}
				}
			}
		}
	}
}
.footer-container {
	background-color:#4f555b;
	#footer {
		color:#d2d5d8;
		a {
			&:hover {
				color:$color_dark;	
			}
		}
		h4 {
			
		}
		h4 a {
			&:hover {
				color:$color_theme;	
			}
		}
		#block_contact_infos {
			> div {
				ul {
					li {
						color:#d2d5d8;
						&.phoneBox {
							color:#fff;
						}
						&.emailBox {
							a {
								color:$color_theme;
							}
						}
					}
				}
			}

		}
		#social_block ul li a {
			&:hover {
				color:$color_theme;
			}
			&:before {
				color:$color_theme;
			}
		}
		.bottom-footer div a {
			color:#fff;
			&:hover {
				color:$color_theme;	
			}
		}
	}
}
.cart_block {
	.cart-buttons {
		a#button_order_cart {
			background:$background_dark_theme;
			&:hover {
				background:$background_theme;
			}
		}
	}
}
#layer_cart {
	.layer_cart_product {
		h2 {
			color:$color_theme;
		}
		.cross {
			&:hover {
				color:$color_theme;	
			}
		}
	}
}
.fancybox-skin {
	.fancybox-close {
		&:hover {
			color:$color_theme;
		}
	}	
}
#home-page-tabs {
	background:#6e7378;
}
.content_scene_cat span.category-name {
	color:$color_theme;	
}
#subcategories {
	ul {
		li {
			.subcategory-name {
				&:hover {
					color:$color_theme;
				}
			}
		}
	}
}
.sale-label {
	background:$background_theme;
}
ul.product_list {
	.availability {
		span.available-now {
		  background:$background_dark_theme;
		  border-color:$border_color_dark;
		}
	}
	.functional-buttons {
		div a, div label {
			color:$color_theme;
		}
	}
}
.block .list-block li a, #sitemap .sitemap_block li a {
	&:hover {
		color:$color_theme;
	}
}
.price, .price.product-price, .special-price {
	color:$color_theme;	
}
.price-percent-reduction {
	background:$background_dark_theme;
	border-color:$border_color_dark;
}
.our_price_display {
	color:$color_theme;	
}
.pb-center-column p.online_only {
	color:$color_theme;
}
#reduction_percent, #reduction_amount {
	background:$background_dark_theme;
	border-color:$border_color_dark;
}
.label-success {
  	background:$background_dark_theme;
	border-color:$border_color_dark;
}
.cart_navigation {
	.button-exclusive {
		&:hover, &:focus, &:active {
			color:$color_theme;
		}
	}
}
#cmsinfo_block, #facebook_block {
	background:#6e7378;
	border-color:#82868a;	
}
#cmsinfo_block {
	em {
		background:$background_theme;
	}
	a {
		color:#fff;
		font-weight:normal;
		&:hover {
			color:$color_theme;
		}
	}
	> div {
		color:#d8d8d8;
		+ div {
			border-color:#8e96a0;
		}
	}
}
a:hover, a:focus {
	color: $color_theme;
}