/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  line-height: 19px;
  margin: 0 0 26px 0;
}
.content_scene_cat .content_scene_cat_bg {
  padding: 2px 0 0 0;
}
.content_scene_cat span.category-name {
  font: 600 25px/30px "Roboto", sans-serif;
  margin-bottom: 12px;
  display: inline-block;
  color: #e61638;
}
@media (max-width: 1199px) {
  .content_scene_cat span.category-name {
    font-size: 25px;
    line-height: 30px;
  }
}
.content_scene_cat p {
  margin-bottom: 15px;
}
.content_scene_cat a.lnk_more {
  font-weight: bold;
}
.content_scene_cat a:hover {
  text-decoration: underline;
}
.content_scene_cat .content_scene {
  color: #777777;
}
.content_scene_cat .content_scene .cat_desc {
  padding-top: 20px;
}
.content_scene_cat .content_scene .cat_desc a {
  color: #1a1a1a;
}
.content_scene_cat .content_scene .cat_desc a:hover {
  color: #e61638;
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #d9d9d9;
  padding: 15px 0 0px 0;
}
#subcategories p.subcategory-heading {
  font-weight: bold;
  color: #333333;
  margin: 0 0 15px 0;
}
#subcategories ul {
  margin: 0 0 0 -20px;
}
#subcategories ul li {
  float: left;
  width: 128px;
  margin: 0 0 13px 20px;
  text-align: center;
  height: 202px;
  min-width: 158px;
}
#subcategories ul li .subcategory-image {
  padding: 0 0 8px 0;
}
#subcategories ul li .subcategory-image a {
  display: block;
  padding: 9px;
  position: relative;
  background: white;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0.2s linear;
}
#subcategories ul li .subcategory-image a img {
  max-width: 100%;
  vertical-align: top;
  height: auto;

}
#subcategories ul li h5 {
  margin: 0;
}
#subcategories ul li .subcategory-name {
  font: 600 14px/17px "Roboto", sans-serif;
  color: #262626;
  text-transform: uppercase;
}
#subcategories ul li .subcategory-name:hover {
  color: #e61638;
}
#subcategories ul li .cat_desc {
  display: none;
}
#subcategories ul li:hover .subcategory-image a {
  border-width: 5px;
  padding: 5px;
}
