/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
#maintenance {
  margin: 50px 0 0 0;
}
@media (min-width: 1200px) {
  #maintenance {
    margin: 126px 0 0 0;
    padding: 91px 48px 365px 297px;
    background: url(../img/bg_maintenance.png) no-repeat;
  }
}
#maintenance .logo {
  margin: 0 0 31px 0;
}
#maintenance h1 {
  font: 600 28px/34px "Roboto", sans-serif;
  color: #333333;
  text-transform: uppercase;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 14px 0;
  margin: 0 0 19px 0;
}
#maintenance #message {
  font: 600 16px/31px "Roboto", sans-serif;
  padding: 0 0 0 18px;
  color: #555454;
  text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
