/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/*******************************************************
Product list Styles
********************************************************/
ul.product_list .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px;
}
ul.product_list .availability span.available-now {
  display:none;
  background: #464646;
  border: 1px solid #333;
}
ul.product_list .availability span.out-of-stock {
  background: #ff7430;
  border: 1px solid #ea5e1a;
}
ul.product_list .color-list-container {
  margin-bottom: 12px;
}
ul.product_list .color-list-container ul li {
  display: inline-block;
  border: 1px solid #d9d9d9;
}
ul.product_list .color-list-container ul li a {
  display: block;
  width: 23px;
  height: 23px;
  margin: 1px;
}
ul.product_list .product-image-container {
  text-align: center;
}
ul.product_list .product-image-container img {
  margin: 0 auto;
}
ul.product_list .product-image-container .quick-view {
  font: 700 13px/16px "Roboto", sans-serif;
  color: #777676;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  background: rgba(255, 255, 255, 0.82);
  width: 107px;
  height: 43px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
}
@media (min-width: 1200px) {
  ul.product_list .product-image-container .quick-view {
    display: none;
  }
}
@media (max-width: 767px) {
  ul.product_list .product-image-container .quick-view {
    display: none;
  }
}
ul.product_list .comments_note {
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 17px;
}
ul.product_list .comments_note .nb-comments {
  overflow: hidden;
  font-style: italic;
  display: inline-block;
}
ul.product_list .functional-buttons div {
  text-align: center;
}
ul.product_list .functional-buttons div a,
ul.product_list .functional-buttons div label {
  font-weight: normal;
  color: #e61638;
  font-size: 11px;
  cursor: pointer;
}
ul.product_list .functional-buttons div a:hover,
ul.product_list .functional-buttons div label:hover {
  color: #000;
}
ul.product_list .functional-buttons div.wishlist {
  border-right: 1px solid #d9d9d9;
}
ul.product_list .functional-buttons div.wishlist a:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f08a";
  margin-right: 3px;
  padding: 0 3px;
}
ul.product_list .functional-buttons div.wishlist a.checked:before {
  content: "\f004";
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0;
  }
  ul.product_list .functional-buttons div.wishlist a:before {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list .functional-buttons div.wishlist {
    border-right: 0;
  }
  ul.product_list .functional-buttons div.wishlist a:before {
    display: none;
  }
}
ul.product_list .functional-buttons div.compare a:before {
  content: "\f067";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.product_list .functional-buttons div.compare a:before {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list .functional-buttons div.compare a:before {
    display: none;
  }
}
ul.product_list .functional-buttons div.compare a.checked:before {
  content: "\f068";
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
ul.product_list.grid > li {
  padding-bottom: 20px;
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list.grid > li {
    width: 50%;
    float: left;
  }
}
ul.product_list.grid > li .product-container {
  background: white;
  padding: 19px;
  position: relative;
  border: 1px solid #d9d9d9;
}
ul.product_list.grid > li .product-container .product-image-container {
  border: 1px solid #d9d9d9;
  padding: 9px;
  position: relative;
  background: white;
  padding: 10px 11px;
  border: none;
}
@media (max-width: 767px) {
  ul.product_list.grid > li .product-container .product-image-container {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
ul.product_list.grid > li .product-container .product-image-container .content_price {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  background: url(../img/price-container-bg.png);
  padding: 9px 0;
  display: none;
}
ul.product_list.grid > li .product-container .product-image-container .content_price span {
  color: white;
}
ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
  color: #b1b0b0;
}
ul.product_list.grid > li .product-container h5 {
  padding: 0;
  min-height: 44px;
  margin: 0px 0 1px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  ul.product_list.grid > li .product-container h5 {
    min-height: 66px;
  }
}
ul.product_list.grid > li .product-container h5 a span.list-name {
  display: none;
}
ul.product_list.grid > li .product-container .new-box,
ul.product_list.grid > li .product-container .sale-box {
  overflow: hidden;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 0;
}
ul.product_list.grid > li .product-container .new-box {
  left: 1px;
  right: auto;
}
ul.product_list.grid > li .product-container .comments_note {
  text-align: center;
}
ul.product_list.grid > li .product-container .comments_note .star_content {
  display: inline-block;
  margin: 0 0px 0px 0px;
}
ul.product_list.grid > li .product-container .product-desc {
  margin-bottom: 13px;
}
ul.product_list.grid > li .product-container .product-desc span.list-desc {
  display: none;
}
ul.product_list.grid > li .product-container .content_price {
  padding-bottom: 2px;
  line-height: 21px;
}
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
  display: inline-block;
}
ul.product_list.grid > li .product-container .price-percent-reduction {
  display: none;
}
ul.product_list.grid > li .product-container .product-flags {
  display: none;
}
ul.product_list.grid > li .product-container .old-price {
  margin-right: 5px;
}
ul.product_list.grid > li .product-container .button-container {
  margin-bottom: 14px;
}
ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
ul.product_list.grid > li .product-container .button-container span.button,
ul.product_list.grid > li .product-container .button-container .lnk_view {
  margin: 0 10px 14px 0;
}
ul.product_list.grid > li .product-container .functional-buttons {
  border: 1px solid #d9d9d9;
  background: #f6f6f6;
  padding: 6px 0 5px;
}
ul.product_list.grid > li .product-container .functional-buttons div {
  width: 50%;
  float: left;
  padding: 3px 0 4px 0;
}
@media (min-width: 1200px) {
  ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
    display: block;
  }
}
@media (min-width: 992px) {
  ul.product_list.grid > li.first-in-line {
    clear: left;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  ul.product_list.grid > li.first-item-of-tablet-line {
    clear: left;
  }
}

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
  ul.product_list.list > li .left-block {
    width: 100%;
  }
}
ul.product_list.list > li .product-container {
  border-top: 1px solid #d9d9d9;
  padding: 30px 0 30px;
}
ul.product_list.list > li .product-image-container {
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 9px;
  position: relative;
  background: white;
}
@media (max-width: 479px) {
  ul.product_list.list > li .product-image-container {
    max-width: 290px;
    margin: 0 auto;
  }
}
ul.product_list.list > li .product-image-container .content_price {
  display: none !important;
}
ul.product_list.list > li .product-flags {
  color: #333333;
  margin: -5px 0 10px 0;
}
ul.product_list.list > li .product-flags .discount {
  color: #f13340;
}
ul.product_list.list > li h5 {
  padding-bottom: 8px;
}
ul.product_list.list > li h5 a span.grid-name {
  display: none;
}
ul.product_list.list > li .product-desc {
  margin-bottom: 15px;
}
ul.product_list.list > li .product-desc span.grid-desc {
  display: none;
}
@media (max-width: 479px) {
  ul.product_list.list > li .center-block {
    width: 100%;
  }
}
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px;
}
@media only screen and (min-width: 480px) {
  ul.product_list.list > li .center-block .comments_note {
    text-align: left;
  }
}
ul.product_list.list > li .center-block .comments_note .star_content {
  display: inline-block;
}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #d9d9d9;
    padding-left: 15px;
    padding-bottom: 16px;
  }
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 20px;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 5px;
  }
}
ul.product_list.list > li .right-block .right-block-content .content_price {
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-top: 13px;
    padding-bottom: 0;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-top: 0;
    width: 100%;
  }
}
ul.product_list.list > li .right-block .right-block-content .content_price span {
  display: inline-block;
  margin-top: -4px;
  margin-bottom: 14px;
}
ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
  margin-right: 8px;
}
ul.product_list.list > li .right-block .right-block-content .button-container {
  overflow: hidden;
  padding-bottom: 20px;
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .button-container {
    width: 100%;
  }
}
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
  margin-bottom: 10px;
  margin-right: 5px;
}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    float: left;
    clear: both;
  }
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    overflow: hidden;
  }
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
  text-align: left;
}
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    clear: both;
  }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
    float: left;
    padding-top: 0 !important;
    padding-right: 20px;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    float: none;
    display: inline-block;
  }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
    display: none !important;
  }
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
  cursor: pointer;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
  border: none;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
  padding-top: 10px;
}
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
  margin-right: 10px;
}
@media (min-width: 1200px) {
  ul.product_list.list > li:hover .product-image-container .quick-view {
    display: block;
  }
}
@media (max-width: 479px) {
  ul.product_list.list > li {
    text-align: center;
  }
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
#index ul.product_list.tab-pane > li {
  padding-bottom: 30px;
}
#index ul.product_list.tab-pane > li .product-container {
  padding-bottom: 1px;
}
#index ul.product_list.tab-pane > li .availability, #index ul.product_list.tab-pane > li .price-percent-reduction, #index ul.product_list.tab-pane > li .new-box {
  display: none;
}
#index ul.product_list.tab-pane > li .button-container {
  margin-bottom: 0px;
}
@media (min-width: 480px) and (max-width: 767px) {
  #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
    clear: none;
  }
}

/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #d9d9d9;
}
