/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block .page-subheading {
  margin-bottom: 16px;
}
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px;
}
#sitemap .sitemap_block li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  padding-right: 10px;
}
#sitemap .sitemap_block li a:hover {
  color: #e61638;
}

#listpage_content div.tree_top {
  padding: 5px 0 0 8px;
}
#listpage_content div.tree_top a:before {
  content: "\f015";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #333333;
}
#listpage_content div.tree_top a:hover:before {
  color: #e61638;
}

#center_column ul.tree {
  padding-left: 5px;
}
#center_column ul.tree li {
  margin: 0 0 0 2px;
  padding: 5px 0 0 22px;
  border-left: 1px solid #d9d9d9;
  background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
}
#center_column ul.tree li a:hover {
  color: #e61638;
}
#center_column ul.tree > li {
  margin: 0 0 0 11px;
}
#center_column ul.tree li.last {
  border: medium none;
  background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
