{if !$content_only}
					</div><!-- #center_column -->
					{if isset($right_column_size) && !empty($right_column_size)}
						<div id="right_column" class="col-xs-12 col-sm-{$right_column_size|intval} column">{$HOOK_RIGHT_COLUMN}</div>
					{/if}
					</div><!-- .row -->
                    {if isset($HOOK_HOME) && $HOOK_HOME|trim}
                        <div class="clearfix home-column">{$HOOK_HOME}</div>
                    {/if}
				</div><!-- #columns -->
			</div><!-- .columns-container -->
			<!-- Footer -->
	<div class="footer-container">
		<footer id="footer"  class="container">
			<div class="row">{$HOOK_FOOTER} <div id="facebook_block" class="vtr col-xs-12 col-sm-3">
				<h4 >Последвайте ни във Facebook</h4>
			<div class="facebook-fanbox">
			<div class="fb-like-box" data-href="https://www.facebook.com/pages/Tools-Panda/622837931154949?fref=ts" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false">
			</div>
	</div>
	</div></div>
					
				</footer>
				
<script type="text/javascript">
				$(document).ready(function() {
	initfb(document, 'script', 'facebook-jssdk');
});

function initfb(d, s, id)
{
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) 
		return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=334341610034299";
	fjs.parentNode.insertBefore(js, fjs);
}
</script>


				
			</div><!-- #footer -->
		</div><!-- #page -->
{/if}
{include file="$tpl_dir./global.tpl"}

	</body>
</html>