/*
Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/* General settings */
div.selector, div.selector span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: url("../../img/jquery/uniform/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.selector, div.checker, div.button, div.radio, div.uploader {
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */
}
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
  outline: 0;
}
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0;
}

.highContrastDetect {
  background: url("../../../img/jquery/uniform/bg-input.png") repeat-x 0 0;
  width: 0px;
  height: 0px;
}

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: white;
  outline: 0;
}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Select */
div.selector {
  line-height: 27px;
  height: 27px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  background: #fff;
}
div.selector span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background: none;
  height: 25px;
  line-height: 25px;
  padding-right: 30px;
  cursor: pointer;
  width: 100%;
  display: block;
}
div.selector span:after {
  content: '\f0d7';
  font-family: "FontAwesome";
  position: absolute;
  right: 1px;
  top: 1px;
  border: 1px solid #d9d9d9;
  text-align: center;
  height: 23px;
  width: 23px;
  font-size: 19px;
  line-height: 21px;
  color: #AFAEAE;
  background: #fafafa;
}
div.selector.fixedWidth {
  width: 190px;
}
div.selector.fixedWidth span {
  width: 150px;
}
div.selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 27px;
  top: 0px;
  left: 0px;
  width: 100%;
}
div.selector.active span:after {
  color: #6f6e6e;
  top: 1px;
}
div.selector.hover span:after, div.selector.focus span:after {
  color: #6f6e6e;
  top: 1px;
}
div.selector.hover.active span:after, div.selector.focus.active span:after {
  color: #6f6e6e;
  top: 1px;
}
div.selector.disabled span:after, div.selector.disabled.active span:after {
  color: #6f6e6e;
  top: 1px;
}

/* Checkbox */
div.checker {
  position: relative;
}
div.checker, div.checker span {
  width: 15px;
  height: 15px;
}
div.checker input {
  position: relative;
  left: -1px;
  top: -3px;
  width: 15px;
  height: 14px !important;
  padding: 0;
  cursor: pointer;
}
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  background: #fff;
}
div.checker span.checked:before {
  content: '\f00c';
  font-family: "FontAwesome";
  position: absolute;
  left: auto;
  top: auto;
  padding: 0 0 0 1px;
  text-align: center;
  width: 13px;
  height: 13px;
  line-height: 14px;
  font-size: 12px;
  background: #e8e8e8;
}
div.checker input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
div.checker.active span {
  background-position: -15px -257px;
}
div.checker.active span.checked {
  background-position: -15px -257px;
}
div.checker.hover span, div.checker.focus span {
  background: #e8e8e8;
}
div.checker.hover span.checked, div.checker.focus span.checked {
  background: #e3e3e3;
}
div.checker.disabled, div.checker.disabled.active {
  background-position: 0 -257px;
}
div.checker.disabled span.checked, div.checker.disabled.active span.checked {
  background-position: 0 -257px;
}

/* Radio */
div.radio {
  position: relative;
  display: inline;
}
div.radio, div.radio span, div.radio input {
  width: 13px;
  height: 13px;
}
div.radio span {
  width: 14px;
  height: 14px;
}
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
div.radio span.checked:before {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #727272;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 2px;
  display: block;
  text-indent: -5000px;
  content: '.';
}
div.radio input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
}
div.radio.active span.checked {
  background-position: -13px -243px;
}
div.radio.hover span, div.radio.focus span {
  background-color: #f7f7f7;
}

/* Uploader */
div.uploader {
  background: none;
  height: 27px;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
div.uploader span.action {
  background-position: 0 -378px;
  height: 27px;
  line-height: 27px;
  width: 94px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.filename {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: default;
  height: 27px;
  margin: 0px 0 0px 0px;
  line-height: 27px;
  width: 172px;
  padding: 0 10px;
}
div.uploader input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  cursor: default;
  width: 100%;
  height: 100%;
}

/* Buttons */
div.button {
  background-position: 0 -634px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */
}
div.button a, div.button button, div.button input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 30px;
  text-align: center;
  background-position: right -514px;
  height: 30px;
  margin-left: 13px;
  padding: 0;
}
div.button.active {
  background-position: 0 -664px;
}
div.button.active span {
  background-position: right -544px;
  cursor: default;
}
div.button.hover, div.button.focus {
  background-position: 0 -694px;
}
div.button.hover span, div.button.focus span {
  background-position: right -574px;
}
div.button.disabled, div.button.disabled.active {
  background-position: 0 -724px;
}
div.button.disabled span, div.button.disabled.active span {
  background-position: right -604px;
  cursor: default;
}

/* INPUT & TEXTAREA */
/* ************************************************************************************************
		uniform
************************************************************************************************ */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: #777;
  border: solid 1px #d6d4d4;
}
input.uniform-input.hover, input.uniform-input.focus,
select.uniform-multiselect.hover,
select.uniform-multiselect.focus,
textarea.uniform.hover,
textarea.uniform.focus {
  border-color: #cbcaca;
}

/* PRESENTATION */
/* Buttons */
div.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
div.button.hover span, div.button.focus span {
  color: #555;
}
div.button.disabled span, div.button.disabled.active span {
  color: #bbb;
}

/* Select */
#compare_shipping .form-group label {
  display: block;
}

div.selector {
  font-size: 12px;
}
div.selector span {
  color: #666;
  text-shadow: 0 1px 0 #fff;
}
div.selector select {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
}
div.selector.disabled span, div.selector.disabled.active span {
  color: #bbb;
}

.checker span input {
  margin: 0 !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 !important;
}

.radio-inline,
.checkbox-inline {
  cursor: default;
}

/* Checker */
div.checker {
  cursor: pointer;
  margin-right: 5px;
}
div.checker span {
  position: relative;
  top: 1px;
}

#layered_form div.checker {
  display: inline;
  cursor: default;
}

/* Radio */
div.radio {
  margin-right: 3px;
}
div.radio span {
  position: relative;
  top: 0px;
}

/* Uploader */
div.uploader span.action {
  text-shadow: rgba(0, 0, 0, 0) 0px 1px 0px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
div.uploader span.filename {
  color: #777;
  border: solid 1px #d6d4d4;
  font-size: 13px;
  background: #fbfbfb;
  margin-right: 2px;
}
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa;
}
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa;
}

input.uniform-input, input.uniform-input:focus {
  background-color: #fff;
}
