/* block top links */
ul#header_links {
  list-style-type: none;
  margin: 20px 0 0 15px;
  float: left;
  overflow: hidden;
}
ul#header_links li {
  text-transform: capitalize;
  float: left;
  padding: 0 10px 0 0;
}
ul#header_links li:first-child {
  border: none;
}
ul#header_links li a {
  text-decoration: none;
}
ul#header_links li a:hover, ul#header_links li a.active {
  text-decoration: underline;
}

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eee;
}

#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333;
  background: url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px;
}

ul#footer_links li {
  display: inline;
  padding: 0 10px;
}
