<!-- MODULE ReferralProgram -->
<li class="referralprogram">
	<a href="{$link->getModuleLink('referralprogram', 'program', [], true)|escape:'html':'UTF-8'}" title="{l s='Referral program' mod='referralprogram'}" rel="nofollow"><i class="icon-cogs"></i><span>{l s='Referral program' mod='referralprogram'}</span></a>
</li>
<!-- END : MODULE ReferralProgram -->