<div class="alert alert-info">
<img src="../modules/cheque/cheque.jpg" style="float:left; margin-right:15px;" width="86" height="49" alt="">
<p><strong>{l s="This module allows you to accept payments by check." mod='cheque'}</strong></p>
<p>{l s="If the client chooses this payment method, the order status will change to 'Waiting for payment.'" mod='cheque'}</p>
<p>{l s="You will need to manually confirm the order as soon as you receive a check." mod='cheque'}</p>
</div>
