/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
}
#categories_block_top .sf-menu {
  position: relative;
}
#categories_block_top .sf-menu > li {
  position: static;
}
#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px;
}
#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%;
}
#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em;
}
#categories_block_top .sf-menu > li h4 a:before {
  display: none;
}
#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  left: 0;
}
#categories_block_top .sf-menu .category_thumb {
  display: none;
}

@media (max-width: 767px) {
  #categories_block_left {
    display: none;
  }
}
#categories_block_left .title_block {
  margin-bottom: 0;
}
#categories_block_left li {
  position: relative;
  padding-top: 1px;
}
#categories_block_left li:hover > span.grower.CLOSE:before {
  color: #fff;
}
#categories_block_left li a {
  font-weight: 500;
  color: #1a1a1a;
  display: block;
  font-size: 15px;
  line-height: 22px;
  background: #ebebeb;
  padding: 10px 35px 10px 20px;
  -webkit-transition: all 50ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 50ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 50ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 50ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
@media (min-width: 992px) and (max-width: 1199px) {
  #categories_block_left li a {
    font-size: 15px;
    line-height: 19px;
    padding: 12px 30px 13px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #categories_block_left li a {
    font-size: 13px;
    line-height: 17px;
    padding: 10px 25px 11px 10px;
  }
}
#categories_block_left li span.grower {
  display: block;
  position: absolute;
  right: 16px;
  top: 17px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 35px;
}
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
  content: "";
  color: #fff;
}
#categories_block_left li span.grower.CLOSE:before {
  content: "";
  color: #c4c4c4;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #categories_block_left li span.grower {
    font-size: 20px;
    right: 14px;
    top: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #categories_block_left li span.grower {
    font-size: 15px;
    right: 12px;
    top: 11px;
  }
}
#categories_block_left li span.OPEN + a, #categories_block_left li span.grower:hover + a,
#categories_block_left li a:hover,
#categories_block_left li a.selected {
  background: #e61638;
  color: #fff;
}
#categories_block_left div > ul > li > ul {
  background: #dbdbdb;
  border-top: 1px solid #fff;
  padding: 15px 20px 20px 34px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #categories_block_left div > ul > li > ul {
    padding: 16px 20px 18px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #categories_block_left div > ul > li > ul {
    padding: 10px 20px 12px 10px;
  }
}
#categories_block_left div > ul > li ul li {
  background: none;
  padding: 4px 0;
}
#categories_block_left div > ul > li ul li a {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: none;
  background: none;
  padding: 0;
  font-weight: normal;
}
@media (min-width: 768px) and (max-width: 991px) {
  #categories_block_left div > ul > li ul li a {
    font-size: 12px;
    line-height: 16px;
  }
}
#categories_block_left div > ul > li ul li a:before {
  content: "▪";
  font-family: "FontAwesome";
  line-height: 13px;
  padding-right: 6px;
  color: #e61638;
  vertical-align: -1px;
}
#categories_block_left div > ul > li ul li a:hover {
  color: #e61638;
  background: none;
}
#categories_block_left div > ul > li ul li span.grower {
  display: block;
  position: absolute;
  right: -10px;
  top: 5px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 25px;
}
#categories_block_left div > ul > li ul li span.grower.OPEN:before, #categories_block_left div > ul > li ul li span.grower.CLOSE:before {
  content: "";
  color: #000;
}
#categories_block_left div > ul > li ul li span.grower.CLOSE:before {
  content: "";
  color: #e61638;
}
#categories_block_left div > ul > li ul li span.OPEN + a, #categories_block_left div > ul > li ul li span.grower:hover + a,
#categories_block_left div > ul > li ul li a:hover,
#categories_block_left div > ul > li ul li a.selected {
  background: none;
  color: #e61638;
}
#categories_block_left div > ul > li ul li:hover > span.grower.CLOSE:before {
  color: #e61638;
}
#categories_block_left div > ul > li ul li li {
  padding-left: 15px;
}
#categories_block_left div > ul > li ul li li li {
  padding-left: 10px;
}
