@import "compass";
@import "theme_variables";

/*******************************************************
Product list Styles
********************************************************/

ul.product_list {
	.availability {
		span {
			display: inline-block;
			color: $light-text-color;
			font-weight: bold;
			padding: 3px 8px 4px 8px;
			margin-bottom: 20px;
			&.available-now {
				background: #464646;
				border: 1px solid #333;
			}
			&.out-of-stock{
				background: #ff7430;
				border: 1px solid #ea5e1a;
			}
		}
	}
	.color-list-container {
		margin-bottom: 12px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				a {
					display: block;
					width: 23px;
					height: 23px;
					margin: 1px;
				}	
			}
		}
	}
	.product-image-container {
		text-align: center;
		img {
			margin: 0 auto;
		}	
		.quick-view {
			font: 700 13px/16px $font-family;
			color: #777676;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -21px 0 0 -53px;
			padding: 13px 0 0;
			background: rgba(255,255,255,0.82);
			width: 107px;
			height: 43px;
			text-align: center;
			@include box-shadow(rgba(black, 0.16) 0 2px 8px);
			@media (min-width: $screen-lg) { // min 1200px
				display: none;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				display: none;
			}
		}
	}
	.comments_note {
		text-align: center;
		overflow: hidden;
		padding-top:10px;
		padding-bottom:10px;
		line-height:17px;
		.nb-comments {
			overflow: hidden;
			font-style: italic;
			display:inline-block;
		}
	}
	.functional-buttons {
		div {
			text-align:center;
			a,
			label {
				font-weight: normal;
				color: #e61638;
				font-size:11px;
				cursor: pointer;
				&:hover { 
					color: #000;
				}	
			}
			&.wishlist { 
				border-right: 1px solid $base-border-color;
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f08a";
					margin-right: 3px;
					padding: 0 3px;
				}
				a.checked:before {
					content: "\f004";  
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					border-right: 0;
					a:before {
						display:none;
					}
				}
				@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
					border-right: 0;
					a:before {
						display:none;
					}
				}
			}
			&.compare {
				a {
					&:before {
						content: "\f067";
						display: inline-block;
						font-family: $font-icon;
						margin-right: 3px;
						@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
							display: none;
						}
	
						@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
							display: none;
						}
					}
					&.checked {
						&:before {
							content: "\f068";
						}
					}	
				}
			}
		}
	}
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/

ul.product_list.grid {
	> li {
		padding-bottom: 20px;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			width: 50%;
			float: left;
		}
		.product-container {
			background: $light-background;
			padding: 19px;
			position: relative;
			border:$main_border;
			.product-image-container {
				@include product-image;
				padding:10px 11px;
				border:none;
				@media (max-width: $screen-xs-max) { // max 767px
					max-width: 290px;
					margin-left: auto;
					margin-right: auto;	
				}
				.content_price {
					position: absolute;
					left: 0;
					bottom: -1px;
					width: 100%;
					background: url(../img/price-container-bg.png);
					padding: 9px 0;
					display: none;
					span {
						color: $light-text-color;
						&.old-price {
							color: #b1b0b0;
						}
					}
				}
			}
			h5 {
				padding:0;
				min-height:44px;
				margin:0px 0 1px;
				@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
					min-height:66px;
				}
				a {
					span.list-name {
						display:none;
					}
				}
			}
			.new-box,
			.sale-box {
				overflow: hidden;
				position: absolute;
				right: 1px;
				top: 1px;
				z-index:0;
			}
			
			.new-box {
				left: 1px;
				right:auto;
			}
			.comments_note {
				text-align:center;
				.star_content {
					display:inline-block;
					margin: 0 0px 0px 0px;
				}
			}
			.product-desc {
				margin-bottom:13px;
				span.list-desc {
					display: none;
				}
			}
			.content_price {
				padding-bottom: 2px; 
				line-height: 21px;
			}
			.old-price, 
			.price, 
			.price-percent-reduction {
				display: inline-block;
			}
			.price-percent-reduction {
				display: none;
			}
			.product-flags {
				display: none;
			}
			.old-price {
				margin-right: 5px;
			}
			.button-container {
				margin-bottom: 14px;
				.ajax_add_to_cart_button, 
				span.button,
				.lnk_view { 
					margin: 0 10px 14px 0;
				}	
			}
			.right-block {
			}
			.functional-buttons {
				border:$main_border;
				background:#f6f6f6;
				padding: 6px 0 5px;
				div {
					width: 50%;
					float: left;
					padding: 3px 0 4px 0;
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					.product-image-container {
						.quick-view {
							display: block;
						}
					}
				}
			}
		}
		@media (min-width: $screen-md) { // min 991px
			&.first-in-line {
				clear: left;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-tablet-line {
				clear: left;
			}
		}
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/

ul.product_list.list {
	> li {
		.left-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}
		}
		.product-container {
			border-top: 1px solid $base-border-color;
			padding: 30px 0 30px;	
		}
		.product-image-container {
			position: relative;
			@include product-image;
			@media (max-width: $screen-xs - 1) { // max 479px
				max-width: 290px;
				margin: 0 auto;
			}
			.content_price {
				display: none !important;	
			}
		}
		.product-flags {
			color: $base-text-color;
			margin: -5px 0 10px 0;
			.discount {
				color: #f13340;	
			}
		}
		h5 {
			padding-bottom: 8px;
			a {
				span.grid-name {
					display:none;	
				}
			}
		}
		.product-desc {
			margin-bottom: 15px;
			span.grid-desc {
				display:none;	
			}
		}
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}	
			.comments_note {
				margin-bottom: 12px;
				@media only screen and (min-width:$screen-xs) {
					text-align:left;
				}
				.star_content {
					display:inline-block;	
				}
			}
		}
		.right-block {
			.right-block-content {
				@media (min-width: $screen-md) { // min 991px
					margin: 0;
					border-left: 1px solid $base-border-color;
					padding-left: 15px;
					padding-bottom: 16px;
				}

				@media (max-width: $screen-sm-max) { // max 991px
					padding-top: 20px;
				}

				@media (max-width: $screen-xs - 1) { // max 479px
					padding-top: 5px;	
				}
				.content_price {
					padding-bottom: 10px;
					@media (max-width: $screen-sm-max) { // max 991px
						padding-top: 13px;
						padding-bottom: 0;	
					}

					@media (max-width: $screen-xs - 1) { // max 479px
						padding-top: 0;
						width: 100%;
					}
					span{
						display: inline-block;
						margin-top: -4px;
						margin-bottom: 14px;
						&.old-price {
							margin-right: 8px;
						}
					}
				}
				.button-container {
					overflow: hidden;
					padding-bottom: 20px;
					@media (max-width: $screen-xs - 1) { // max 479px
						width: 100%;
					}
					.btn {
						margin-bottom: 10px;
						margin-right:5px;
						@media (min-width: $screen-md) { // min 991px
						float: left;
						clear: both;
						}
						@media (max-width: $screen-sm-max) { // max 991px
							margin-right:15px;
						}
					}
				}
				.functional-buttons {
					@media (min-width: $screen-md) { // min 991px
						overflow: hidden;
					}
					> div { text-align:left;}
					@media (max-width: $screen-sm-max) { // max 991px
						clear: both;
						> div {
							float: left;
							padding-top: 0 !important;
							padding-right: 20px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						float: none;
						display: inline-block;
						a, label {
							i, &:before {
								display: none !important;
							}
						}
					}
					a {
						cursor: pointer;
					}
					.wishlist {
						border:none;		
					}
					.compare {
						padding-top: 10px;
						a {
							&:before {
								margin-right:10px;	
							}
						}
					}
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						display: block;
					}
				}
			}
		}
		@media (max-width: $screen-xs - 1) {	// max 479px
			text-align: center;	
		}
	}
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/

#index {
	ul.product_list.tab-pane {
		> li {
			padding-bottom: 30px;
			.product-container {
				padding-bottom:1px;	
			}
			.availability, .price-percent-reduction, .new-box {
				display: none;
			}
			.button-container {
				margin-bottom: 0px;	
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
			}
		}
	}
}
/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;	
	}
}