@import "compass";
@import "theme_variables";
#search_block_top {
	padding-top: 69px;
	padding-left:17px;
	@media (max-width: $screen-xs-max) {
		padding-top:30px;
	}
	#searchbox {
		float: left;
		width: 100%;
	}
	.btn.button-search {
		background: #303030;
		display: block;
		font-size:16px;
		line-height:16px;
		font-weight:bold;
		border:1px solid #3c3c3c;
		position: absolute;
		top: 0;
		right: 0;
		color: $light-text-color;
		width: 105px;
		height:51px;
		text-align: center;
		padding: 0px 5px;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.22);
		text-transform:uppercase;
		@media (max-width: $screen-md) { // max 991px
			width: 50px;
			span {
				display:none;	
			}
			&:before {
				content: "\f002";
				display: block;
				font-family: $font-icon;
				font-size: 21px;
				width: 100%;
				text-align: center;
			}
		}
		&:hover {
			color: #6f6f6f;
		}
	}
	#search_query_top {
		display: inline-block;
		padding: 14px 65px 14px 13px;
		height: 51px;
		color:#fff;
		border-color:#3c3c3c;
		background:#262626;
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}