@import "compass";
@import "theme_variables";
.header_user_info {
	float: right;
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
	a {
		color: $light-text-color;
		font-weight: bold;
		display: block;
		padding: 8px 9px 11px 8px;
		cursor: pointer;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
		}
		&:hover, &.active {
			background: #2b2b2b;
		}
	}
	&+ .header_user_info {
		border-right:none;	
	}
}

.user_info {
	float:right;
	padding:36px 15px 0;
	@media (max-width: $screen-md) { // max 991px
		padding-top:15px;
	}
	@media (max-width: $screen-xs-max) {
		float:left;
	}
	@media (max-width: $screen-xs - 1) {
		float:none;
		width:100%;
		overflow:hidden;
	}
	li {
		display:block;
		float:right;
		padding-left:27px;
		@media (max-width: $screen-md) { // max 991px
			clear:both;
			padding-left:0px;
		}
		@media (max-width: $screen-xs-max) {
			float:left;
			padding-bottom:5px;
		}
		@media (max-width: $screen-xs - 1) {
			float:right;
			clear:none;
			padding-bottom:0px;
			&:first-child {
				float:left;	
			}
		}
		a {
			color:#fff;
			font-size:16px;
			line-height:21px;
			font-weight:bold;
			text-transform:uppercase;
			&:before {
				content: "";
				font-family: $font-icon;
				font-size: 21px;
				line-height: 21px;
				color: #e61638;
				padding-right: 11px;
				vertical-align:-1px;
			}
			&.login, &.logout {
				&:before {
					display:none;	
				}
			}
			&:hover {
				color:#777;
			}
		}
	}
}