/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #homepage-slider {
    margin-bottom: 10px;
  }
}
#homepage-slider #homeslider {
  margin: 0 auto;
  padding: 0;
}
#homepage-slider .homeslider-description {
  padding: 50px 50px;
  cursor: pointer;
}
#homepage-slider .homeslider-description h2 {
  font-size: 2.7em;
  color: white;
  margin: 0;
  padding: 0;
}
#homepage-slider .homeslider-description p {
  width: 50%;
  font-size: 1.15em;
  line-height: 1.3em;
  padding: 0.5em 0;
  color: white;
}
#homepage-slider .homeslider-description button {
  font-size: 1.2em;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  #homepage-slider .homeslider-description {
    padding: 20px;
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  #homepage-slider .homeslider-description {
    padding: 30px;
    font-size: 0.7em;
  }
  #homepage-slider .homeslider-description p {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  #homepage-slider .homeslider-description {
    padding: 30px;
    font-size: 0.5em;
  }
  #homepage-slider .homeslider-description p {
    font-size: 1.7em;
  }
}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .homeslider-container {
  position: relative;
}
#homepage-slider .homeslider-image {
  position: absolute;
  left: 0;
  top: 0;
}
#homepage-slider .homeslider-description {
  position: absolute;
  left: 0;
  top: 0;
}
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}
#homepage-slider .bx-wrapper a {
  display: block;
}
#homepage-slider .bx-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%;
}
#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 999;
}
#homepage-slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
#homepage-slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 3px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}
#homepage-slider .bx-wrapper .bx-prev {
  left: 11px;
}
#homepage-slider .bx-wrapper .bx-prev:after {
  content: "";
}
#homepage-slider .bx-wrapper .bx-next {
  right: 11px;
}
#homepage-slider .bx-wrapper .bx-next:after {
  content: "";
}
#homepage-slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 45%;
  outline: 0;
  width: 30px;
  height: 40px;
  text-indent: -9999px;
  z-index: 9999;
  color: #fff;
}
#homepage-slider .bx-wrapper .bx-controls-direction a:after {
  display: inline-block;
  color: white;
  width: 100%;
  text-align: center;
  text-indent: 0;
  font-size: 43px;
  line-height: 43px;
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#homepage-slider .bx-wrapper .bx-controls-direction a:hover:after {
  color: #e61638;
}
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center;
}
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
  content: '';
  font-family: "FontAwesome";
  color: #fff;
}
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
  content: '';
  font-family: "FontAwesome";
  color: #fff;
}
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
  right: 15px;
  width: 35px;
  top: 15px;
}
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0);
  width: 100%;
}
#homepage-slider .bx-wrapper .bx-caption span {
  color: white;
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #333333;
}

#bx-pager-thumb {
  display: none;
  text-align: center;
  padding: 10px 0;
}
#bx-pager-thumb a {
  display: inline-block;
  max-width: 150px;
  width: 31%;
}
#bx-pager-thumb a img {
  max-width: 100%;
  height: auto;
}
