/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#languages-block-top {
  float: left;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
  position: relative;
}
@media (max-width: 479px) {
  #languages-block-top {
    width: 50%;
    text-align: center;
  }
}
#languages-block-top span.firstWord {
  display: none;
}
#languages-block-top div.current {
  font-weight: bold;
  padding: 16px 20px 18px 19px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-shadow: 1px 1px #1e1e1e;
  text-transform: uppercase;
  color: #777;
  cursor: pointer;
}
#languages-block-top div.current strong {
  color: #777777;
}
#languages-block-top div.current:hover, #languages-block-top div.current.active {
  background: #202020;
}
#languages-block-top div.current:after {
  content: "";
  font-family: "FontAwesome";
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  padding-left: 12px;
}
@media (max-width: 479px) {
  #languages-block-top div.current .cur-label {
    display: none;
  }
}
#languages-block-top ul {
  display: none;
  position: absolute;
  top: 54px;
  left: 0px;
  width: 157px;
  background: #262626;
  z-index: 2;
}
#languages-block-top ul li {
  color: white;
  line-height: 35px;
  font-size: 13px;
}
#languages-block-top ul li a,
#languages-block-top ul li > span {
  padding: 0 10px 0 12px;
  display: block;
  color: white;
}
#languages-block-top ul li.selected, #languages-block-top ul li.selected span, #languages-block-top ul li:hover a {
  background: #1e1e1e;
  color: #777;
}
