@import "compass";
@import "theme_variables";
#languages-block-top {
	float: left;
	border-left: 1px solid #3c3c3c;
	border-right: 1px solid #3c3c3c;
	position: relative;
	@media (max-width: $screen-xs - 1) {
		width:50%;
		text-align:center;
	}											
	span.firstWord {
		display: none;
	}
	div.current {
		font-weight: bold;
		padding: 16px 20px 18px 19px;
		font-size:16px;
		line-height:20px;
		color: $light-text-color;
		text-shadow: 1px 1px #1e1e1e;
		text-transform:uppercase;
		color:#777;
		cursor: pointer;
		strong {
			color: #777777;
		}
		&:hover, &.active {
			background: #202020;
		}
		&:after {
			content: "";
			font-family: $font-icon;
			font-size: 13px;
			line-height: 13px;
			color: #fff;
			padding-left: 12px;
		}
		.cur-label {
			// max 479px
			@media (max-width: $screen-xs - 1) {
				display: none;
			}
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 54px;
		left: 0px;
		width: 157px;
		background: #262626;
		z-index: 2;
		li {
			color: $light-text-color;
			line-height: 35px;
			font-size: 13px;
			a,
			> span {
				padding: 0 10px 0 12px;
				display: block;
				color: $light-text-color;
			}
			&.selected, &.selected span,&:hover a {
				background: #1e1e1e;
				color:#777;
			}
		}
	}
}