/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
.tags_block .block_content {
  overflow: hidden;
}
.tags_block .block_content a {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding: 4px 9px 5px 9px;
  border: 1px solid #d9d9d9;
  float: left;
  margin: 0 3px 3px 0;
}
.tags_block .block_content a:hover {
  color: #333333;
  background: #f6f6f6;
}
