/**
 *
 * CSS for blocklayeredmanufacturer add-on
 * @date 2016-04-09
 * @version 1.1.4
 * @author Thomas GIORDMAINA <thomas.giordmaina@42webstreet.com>
 * @copyright 42webstreet.com
 *
 */
.npd {
	padding: 0 !important;
}
.layered_filter_price label {display:none!important;}
.layered_slider_container {
	margin-right:10px;
}
.layered_filter_price .layered_subtitle {display:none;}
#pageleft-Blocklayeredmanufacturer .layered_filter {
	/*margin-bottom: 30px;*/
}



#pageleft-Blocklayeredmanufacturer .layered_slider_container {
		/*padding-left: 10px;*/
}


#pageleft-Blocklayeredmanufacturer .layered_filter_cat .layered_manufacturer_cat_a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 75%;
  margin-bottom: 8px;
  margin-top: -18px;
  margin-left: 22px;
  display: block;
}


  #pageleft-Blocklayeredmanufacturer .layered_filter_ul .label-attr {
		white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 75%;
    margin-bottom: 8px;
    margin-top: -18px;
    margin-left: 22px;
    display: block;
  }

  #pageleft-Blocklayeredmanufacturer .layered_filter_ul .input-attr {
		/*display: inline-block;
		vertical-align:middle;*/
  }

  #pageleft-Blocklayeredmanufacturer .layered_filter_attr .checker {
		/*display: inline-block;
		vertical-align:middle;*/
  }
  #pageleft-Blocklayeredmanufacturer .layered_filter_feature .checker {
		/*display: inline-block;
		vertical-align:middle;*/
  }



#layered_form .color-option {
	margin-left: 0;
	width: 12px;
	height: 12px;
	padding: 0;
	border: 1px solid #666;
}

#layered_form li.selected .color-option {
	border: 1px solid red;
}
#pageleft-Blocklayeredmanufacturer .title_block .ip {display:none;}
@media (max-width: 767px) {
	#pageleft-Blocklayeredmanufacturer .title_block {cursor: pointer;}
	#pageleft-Blocklayeredmanufacturer .title_block .ip {display:block; color:#22d2c5}
}

#pageleft-Blocklayeredmanufacturer .layered_filter_attr ul {
  max-height: 200px;
  overflow-x: auto;
  list-style-type: initial;
  list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}


#pageleft-Blocklayeredmanufacturer .layered_filter_attr div.checker span {
  top: 0px;
}

#pageleft-Blocklayeredmanufacturer .layered_filter_attr input[type=checkbox] {
  float: left;
  margin-top: 0px;
  margin-right: 5px;
}

#pageleft-Blocklayeredmanufacturer .layered_filter_feature ul {
  /*max-height: 200px;
  overflow-x: auto;*/
	margin:0;
	list-style:none;
}
#pageleft-Blocklayeredmanufacturer .layered_filter_feature ul li {
	display:block;

}
#pageleft-Blocklayeredmanufacturer .layered_filter_feature div.checker span {
  top: 0px;
}

#pageleft-Blocklayeredmanufacturer .layered_filter_feature input[type=checkbox] {
  /*float: left;
  margin-top: 0px;
  margin-right: 5px;*/
}

#pageleft-Blocklayeredmanufacturer #enabled_filters_manufacturer {
	padding: 5px;
	background: #c7f4ef;
	margin: 0 0 20px;
}

#pageleft-Blocklayeredmanufacturer .layered_subtitle {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

#pageleft-Blocklayeredmanufacturer #enabled_filters_manufacturer ul li {
  margin-left: 0;
  padding-left: 0;
}

#enabled_filters_manufacturer li a {
	float: right;
	cursor: pointer;
}
